.dd-body
  display flex
  justify-content center
  align-items flex-start
  flex-direction column
  background $dd-background
  position absolute
  right 0
  top -1rem
  z-index 2
  width 15.625rem
  .body-content
    font-size 0.875rem
    a 
      color $dd-text
      &:visited, &:link
        color $dd-text
  .body-close
    font-size 0.875rem
    border-bottom 0.5px solid $dd-text
    align-self flex-end
    width 100%
    

    
