.card 
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 35%
  box-shadow $box-shadow
  border-radius $border-radius
  background #fff
  .card-item
    display flex
    justify-content center
    align-items center
    width calc(100% - 2rem)
    padding 1rem
    background #fff
    border-radius $border-radius
    &:first-child
      width 100%
      border-top $card-item-border
      background $dd-background
    &:last-child
      width 100%
      border-bottom $card-item-border
    &:nth-last-child(2)
      border-bottom $card-item-border
  .component
    height 5rem
  .dd-container
    height 2rem
    justify-content flex-end
  .image-container img 
    padding 1rem
    border-radius $border-radius