$dd-text = rgb(117, 117, 117)
$dd-li-hover = rgb(121,145,137)
$dd-background = rgb(248,248,246)
$dd-hover = rgb(87,87,87)
$box-shadow = 0 0 5px 2px alpha($dd-text 0.1)
$border-radius = 4px
$card-item-border = 1px solid alpha($dd-text 0.2)

body,html
  font-family 'Open Sans', sans-serif
  font-size 16px
  color $dd-text


