.dd-wrapper
  display flex
  justify-content center
  align-items center
  flex-direction column
  background $dd-background
  height 20vh
  width 20vw
  .dd-toggle
    display flex
    justify-content center
    align-items center
    border 1px solid red
  .dd-body
    display: flex
    border 1px solid blue
