.dd-toggle
  display flex
  justify-content center
  align-items baseline
  font-size 0.875rem
  .dd-toggle-title
    font-size 0.875rem
  .dd-toggle-icon
    font-size 0.875rem
    margin-left 0.33rem
    width 1rem


    