* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: $dd-text;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #757575;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f6;
  height: 100vh;
  width: 100vw;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  box-shadow: 0 0 5px 2px rgba(117,117,117,0.1);
  border-radius: 4px;
  background: #fff;
}
.card .card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
}
.card .card-item:first-child {
  width: 100%;
  border-top: 1px solid rgba(117,117,117,0.2);
  background: #f8f8f6;
}
.card .card-item:last-child {
  width: 100%;
  border-bottom: 1px solid rgba(117,117,117,0.2);
}
.card .card-item:nth-last-child(2) {
  border-bottom: 1px solid rgba(117,117,117,0.2);
}
.card .component {
  height: 5rem;
}
.card .dd-container {
  height: 2rem;
  justify-content: flex-end;
}
.card .image-container img {
  padding: 1rem;
  border-radius: 4px;
}
.dd-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: inherit;
  position: relative;
}
.dd-toggle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 0.875rem;
  cursor: pointer;
}
.dd-toggle .dd-toggle-title {
  font-size: 0.875rem;
}
.dd-toggle .dd-toggle-icon {
  margin-left: 0.33rem;
  width: 1rem;
}
.dd-body,
.dd-body-downward,
.dd-body-upward {
  z-index: 2;
  width: 15.625rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #f8f8f6;
}
.dd-body-downward {
  position: absolute;
  right: 1rem;
  top: 0;
}
.dd-body-upward {
  position: absolute;
  right: 1rem;
  bottom: 0;
}
.body-content {
  font-size: 0.875rem;
  width: 100%;
}
.body-content a {
  display: block;
  width: 100%;
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.7rem 0.9rem;
}
.body-content a:visited,
.body-content a:link {
  color: #757575;
}
.body-content a:hover {
  color: #fff;
  background: #799189;
}
.body-content a li {
  line-height: 1.25rem;
}
.body-close {
  padding: 0.5rem;
  align-self: flex-end;
  font-size: 0.625rem;
  font-weight: 600;
  cursor: pointer;
}
.body-close:hover {
  color: #575757;
}
.body-close .close-label {
  margin-right: 0.75rem;
}
.body-close .icon-close {
  font-size: 0.5rem;
  font-weight: 600;
}
@font-face {
  font-family: 'practiceFonts';
  src: url("fonts/practiceFonts.eot");
  src: url("fonts/practiceFonts.eot#iefix") format('embedded-opentype'), url("fonts/practiceFonts.ttf") format('truetype'), url("fonts/practiceFonts.woff") format('woff'), url("fonts/practiceFonts.svg#practiceFonts") format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: 'practiceFonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.875rem;
  font-size: 0.875rem;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e900";
}
.icon-down-arrow:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e902";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-minimize:before {
  content: "\e904";
}
.icon-right-arrow:before {
  content: "\e905";
}
.icon-up-arrow:before {
  content: "\e906";
}
