@require './_reset.styl'
@require './_fonts.styl'
@require './_configuration.styl'
@require './_dropdown.styl'
@require './_responsive.styl'

.container
  display flex
  justify-content center
  align-items center
  background $dd-background
  height 100vh
  width 100vw
