* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  tex-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: $dd-text;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #575757;
}
.dd-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f8f8f6;
  height: 20vh;
  width: 20vw;
}
.dd-wrapper .dd-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f00;
}
.dd-wrapper .dd-body {
  display: flex;
  border: 1px solid #00f;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f6;
  height: 100vh;
  width: 100vw;
}
